.nav{
    background: #000000;
}
header .box{
    padding: 20px 0;
}
header  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header  .top nav ul li{
    list-style: none;
    text-transform: uppercase;
    padding-left: 20px;
}
header  nav ul li:first-child{
    padding-left: 0;
}
header .top nav ul li a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;

}
header .top nav ul li a:hover{
    box-shadow:
            1px 1px #ffffff,
            2px 2px #ffffff,
            3px 3px #ffffff,
            4px 4px #ffffff,
            5px 5px #ffffff,
            6px 6px #ffffff,
            7px 7px #ffffff;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);

}


section{
    background: url("https://image.freepik.com/free-photo/simple-black-gradient-light-background_1962-1673.jpg") no-repeat;
    background-size: cover;
}















.fourth .all_4{
    padding: 68px 0 50px ;
}
.fourth .fordisplay_2{
    display: flex;
    justify-content: space-between;
}
.fourth .fordisplay_2 .maps{
    position: relative;
}
.fourth .fordisplay_2 .maps .air{
    position: absolute;
    z-index: 1 ;
    top: 177px;
    left: 46px;
}
.fourth .fordisplay_2 .maps .mapair{
    position: absolute;
    z-index: 2 ;
    top: 9px ;
    left: 194px;
}
.fourth .fordisplay_2 .maps .fura{
    position: absolute;
    z-index: 3 ;
    top: 343px ;
    left: 197px;
}


.fourth .fordisplay_2 .forkontakt {
    padding-top: 50px;
}

.fourth .fordisplay_2 .forkontakt h2{
    color: #ffffff;
    font-size: 32px;
}
.fourth .fordisplay_2 .forkontakt p{
    color: #ffffff;
    font-size: 14px;
}

.fourth .fordisplay_2 .forkontakt a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
.fourth .fordisplay_2 .forkontakt a span:hover{
    color: #C8A35F;
}