body{
    background: black;
}
.nav{
    background: #000000;
}
header .box{
    padding: 20px 0;
}
header  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header  .top nav ul li{
    list-style: none;
    text-transform: uppercase;
    padding-left: 20px;
}
header  nav ul li:first-child{
    padding-left: 0;
}
header .top nav ul li a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;

}
header .top nav ul li a:hover{
    box-shadow:
            1px 1px #ffffff,
            2px 2px #ffffff,
            3px 3px #ffffff,
            4px 4px #ffffff,
            5px 5px #ffffff,
            6px 6px #ffffff,
            7px 7px #ffffff;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);

}



section{
    background: url("https://image.freepik.com/free-photo/simple-black-gradient-light-background_1962-1673.jpg") no-repeat;
    background-size: cover;
}








.second .forline{
    padding-top: 120px;
}
.second .fortitle_h2 h2{
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 40px;
}
.second .forbtn{
    padding-top: 60px;
    text-align: center;
}
.second .forbtn button{
    background: #393F47;
    color: #ffffff;
    border: 1px solid #000000;
    padding: 23px;
    margin-left: -5px;
}
.second .forbtn button:hover{
    background: #C8A35F;

}
.second .forotstup{
    padding-top: 138px;
}
